/* Media Query of Close Image*/
@media (max-width: 600px) {

 .img-close{
     width: 100px;
     height: 100px;
     margin-right: 60px;
 }
}

/* Body Font Frenzy */
body{
 font-family: Bariol;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.formStyle {
  margin-top: 10px;
}

.tableImage {
  height:150px;
  width: 150px;
}

.totalHeightLabel {
  height: 34px;
  display: flex;
  align-items: center;
}

.noResize {
  resize: none;
}
